<!--
    Rewrites requires Microsoft URL Rewrite Module for IIS
    Download: https://www.iis.net/downloads/microsoft/url-rewrite
    Debug Help: https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/using-failed-request-tracing-to-trace-rewrite-rules
-->
<configuration>
  <system.webServer>
    <!-- Block direct web access to sensitive files (env, DB dumps, backups, manifests). -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="storage" />
          <add segment="vendor" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".sqlite" allowed="false" />
          <add fileExtension=".bak" allowed="false" />
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".log" allowed="false" />
        </fileExtensions>
        <denyUrlSequences>
          <add sequence=".env" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
